@model s05.Models.School

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
</head>
<body>
    <div>
        @Html.DisplayForModel()        
    </div>
    @Html.ActionLink("上一頁", "Index")
</body>
</html>
