<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h2>新北市程式班</h2>
    <div>
        @RenderBody()
    </div>
</body>
</html>
